.about-tajam {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.about-tajam__header {
  @extend %content;
  align-items: center;
  padding: 20px 0;
}

.about-tajam-nav {
  flex: 1;
}

.burger-menu {
  display: none;
}

@media screen and (max-width:793px){
  .about-tajam-nav {
      display: none;
  }
  .burger-menu {
    display: block;
    color: $white;
    font-size: 2rem;
  }
}

.about-tajam__logo {
  width: 128px;
  display: block;
  img {
    display: block;
    width: 100%;
  }
}

.about-tajam-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;

  &__item {
    font-family: $fontsRoboto;
    display: block;
    font-weight: 800;
    text-decoration: none;
    color:$white;
    margin-left: 1.25rem;
    font-size: 0.8rem;
    &.active {
      color: $primary;
    }

    a {
      color: inherit;
    }
  }
}


.tajam-main-name__title {
  color: $white;
  font-family: $fontsPlayfair;
  font-size: 2rem;
  font-weight: 700;
  animation: show-from-top 2s ease;
  transform: translateY(-45px);
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes show-from-top {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.tajam-main {
  @include bg-with-overlay("../../img/trees.png");
  min-height: 100vh;
  text-align: center;
}

.tajam-main-name__line {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
  padding-bottom: 3.25rem;
}

.about-tajam-line {
  width: 50px;
  box-align: center;
  border: 1px solid $primary;
}

.tajam-main {
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    max-width: 770px;
    margin: 0 auto;
  }
}

.tajam-main-name-subtitle__description {
  text-align: center;
  color: $white;
  font-family: $fontsRoboto;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5rem;
  animation: show-from-bottom 2s ease;
  transform: translateY(45px);
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes show-from-bottom {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tajam-main-click {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.1rem;
}

.tajam-main-click__button {
  font-family: $fontsHammersmith;
  padding: 1rem;
  background: transparent;
  color: $primary;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.85;
  border: 1px solid $primary;
}

.tajam-main-transition {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 4.4rem;

  &__dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid $primary;
    margin-right: 3px;
    padding: 0;
    background: transparent;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }

    &--full {
      background-color: $primary;
    }
  }
}
