.expertise {
    background-color: $white;
}

.expertise-name__title {
    color: $midi;
    font-family: $fontsPlayfair;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.1px;
    padding-top: 4.5rem;
}

.expertise-name__description {
    opacity: 0.75;
    color: $midi;
    font-family: $fontsPlayfair;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1.05px;
    text-align: center;
    padding-top: 0.9rem;
    padding-bottom: 1.3rem;
}

.expertise-name__line {
    width: 50px;
    height: 2px;
    background-color: $midi;
    opacity: 0.3;
}

.expertise-view {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.expertise-view-border {
    text-align: center;
    flex: 1 1 33%;
    border-right: $borderg;
    border-top: $borderg;
    padding: 0 1.3rem;
}

.expertise-view-border:nth-child(1) {
    border-top: none;
  } 
  .expertise-view-border:nth-child(2) {
    border-top: none;
  } 
  .expertise-view-border:nth-child(3) {
    border-top: none;
  } 

.expertise-view-border:nth-child(3) {
    border-right: none;
  } 
  .expertise-view-border:nth-child(6) {
    border-right: none;
  } 



.expertise-view-row-section__icon {
  
    padding-top: 40px;
    padding-bottom: 40px;
    color:  $primary;
    font-size: 2rem;
}

.expertise-view-row-section__title {
    color: $midi;
    font-family: $fontsRoboto;
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.expertise-view-row-section__description {
    max-width: 254px;
    margin: 0 auto;
    opacity: 0.75;
    color: $midi;
    font-family: $fontsRoboto;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.7px;
    @include padding-top-bottom-4;
}