.information-section {
    display: flex;
    @media screen and (max-width:1024px){
        flex-wrap: wrap;

    }
}

.information-form {
    flex: 1;
    padding-bottom: 4.3rem;
    @media screen and (max-width:1024px){
        flex: 1 1 100%;
    }
}

.information-clients {
    flex: 1;
   padding-left: 100px;
   @media screen and (max-width:1024px){
    flex: 1 1 100%;
    padding-left: 0;
}
   
}

.information-form-title {
    color: $midi;
    font-family: $fontsPlayfair;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 1.1px;
    padding-top: 70px;
    padding-bottom: 40px;
   
}

.information-clients-title {
    color: $midi;
    font-family: $fontsPlayfair;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 1.1px;
    padding-top: 70px;
    padding-bottom: 40px;
    
}

.information-clients__view {
    @extend %space;
    min-height: 410px;
}

.img-clients__left {
    @extend %content;
    flex-direction: column;
    margin-right: 80px;
    div {
        img {
            display: block;
            width: 100%;
        }
    }
}


.img-clients__right {
    @extend %content; 
    flex-direction: column;
    div {
        img {
            display: block;
            width: 100%;
        }
    }
}

.information-form-group-input--view {
    padding-bottom: 1.5rem;
    max-width: 460px;
    @media screen and (max-width:1024px){
        max-width: 100%;
    }
}

.view-input {
    width: 100%;
    height: 45px;
    border: 1px solid #000000;
    opacity: 0.1;
    padding-left: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
}

.view-message {
    width: 100%;
    height: 200px;
    border: 1px solid #000000;
    opacity: 0.1;
    padding-left: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    @media screen and (max-width:1024px){
        max-width: 100%;
    }
}

.view-click-button {
    width: 120px;
    height: 40px;
}

.view-click-message {
    border: none;
    text-transform: uppercase;
    color: $primary;
    font-family: $fontsHammersmith;
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    text-align: center;
    border: 1px solid $primary;
}

