.our-video {
    @include bg-with-overlay("../../img/Ny.jpg");
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto";
}

.our-video__playbutton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    font-size: 40px;
    color: $white;
}

.our-video__name {
    padding-top: 30px;
    color: $white;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}