.our-video {
    min-width: 1620px;
    min-height: 550px;
    background: url("../../img/Ny.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //linear-gradient(to right, hsl(246, 80%, 10%) 0%, hsl(258, 53%, 24%) 100%),
}

.our-video__playbatton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-video__play {
   
    stroke: hsl(0, 0%, 100%);
}

.our-video__name {
padding-top: 30px;
    color: hsl(0, 0%, 100%);
    font-family: "Roboto - Black";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}