.our-works {
  max-width: 100%;
}

.our-works-name {
@extend %content;
  padding-top: 4.3rem;
  padding-bottom: 4.3rem;
}

.our-works-name__title {
  color: $midi;
  font-family: $fontsPlayfair;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.our-works-name__text {
  color: $midi;
  font-family: $fontsRoboto;
  font-size: 0.8rem;
  font-weight: 300;

  letter-spacing: 0.7px;
}

.our-works-view {
  margin: 0;
  padding: 0 15px;
}

.our-works-view-picture {
  margin: 0 -15px;
  height: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.our-work-click {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.3rem;
  padding-bottom: 4.3rem;
}

.our-work-click__button {
  padding: 1rem;
  background: transparent;
  color: $primary;
  font-family: $fontsHammersmith;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.85;
  border: 1px solid $primary;
}
