.our-story-view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.our-story-view-name {
    padding-left: 100px;
}

.our-story-view__picture {
    flex: 0 0 235px;
}

.our-story-view__img {
    width: 100%;
}

.our-story-view-name__title {
    color: $midi;
    font-family: $fontsPlayfair;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    padding-top: 4.3rem;
    padding-bottom: 2.8rem;
}

.our-story-view-name__width {
    max-width: 538px;
}

.our-story-view-name__description {
    opacity: 0.75;
    color: $midi;
    font-family: $fontsRoboto;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.3rem;
    letter-spacing: 0.42px;
}

.our-story-click {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.8rem;
    padding-bottom: 4.3rem;
}

 .our-story-click__button {
    font-family: $fontsHammersmith;
    padding: 0.9rem;
    background: transparent;
    color: $primary;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.85;
    border: 1px solid $primary;
}