.our-works {
    max-width: 1620px;
    max-height: 100vh;
}

.our-works-name {
    
    display: flex;
    justify-content: space-between;
}

.our-works-name__title {
    color: #413d4b;
font-family: "Playfair Display";
font-size: 22px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1.1px;
}

.our-works-name__text {
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;

    letter-spacing: 0.7px;
}

//.our-works-view {    max-width: 1620px;    max-height: 400px;
    


.our-works-view-picture {
    width: 280px;
    height: 200x;
}


.our-work-click {
    display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 70px;

}

.our-work-click__button {
    font-family: 'Hammersmith One', sans-serif;
    padding: 15px;
    background: transparent;
    color: hsl(176, 100%, 44%);
    font-family: "Hammersmith One";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.85;
    border: 1px solid hsl(176, 100%, 44%);
} 