.specific {
    @include bg-with-overlay("../../img/specific.png");
}

.specific-sign {
    display: flex;
    justify-content: center;
    padding-top: 4.3rem;
    padding-bottom: 2.5rem;
}

.specific-sign__view {
    opacity: 0.9;
    color: $white;
    font-family: $fontsPlayfair;
    font-size: 6rem;
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: 3px;
    text-align: center;
}

.specific-text {
    display: flex;
    justify-content: center;
}

.specific-text__view {
    max-width: 770px;
    opacity: 0.85;
    color: $white;
    font-family: $fontsPlayfair;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.4px;
}

.specific-text-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
}

.specific-text-name__view {
    color: $white;
    font-family: $fontsRoboto;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.7px;
}

.specific-text-name__position {
    opacity: 0.7;
    color: $white;
    font-family: $fontsRoboto;
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.3rem;
    text-transform: uppercase;
    text-align: center;
}

.specific-icon-scroll {
    display: flex;
    justify-content: center;
    padding-bottom: 4.3rem;
}

.specific-icon__view {
    display: flex;
}

.specific-icon-list {
    display: flex;
}

.specific-icon__link {
    padding-left: 1rem;
}

.specific-icon-picture__icon {
    border-radius: 50%;
}

.specific-icon-click__button {
    opacity: 0.85;
    background: transparent;
    border: none;
    color: $white;
    opacity: 0.85;
    font-size: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}


