// Colors
$primaryHue: var(--hue);

$midi: #413d4b;

$white: #ffffff;
$primary: hsl($primaryHue, 100%, 44%);


$gradient-color: calc(#{$primaryHue} + 70);
$gradient-from: hsla($gradient-color, 81%, 10%, 0.85);
$gradient-to: hsla($gradient-color, 53%, 24%, 0.85);

@mixin bg-with-overlay($image-path) {
    background-image: linear-gradient(to right, $gradient-from 0%, $gradient-to), 
                      url(#{$image-path});
    background-repeat: no-repeat;
    background-size: cover;
  }


// fonts
$fontsRoboto:"Roboto";
$fontsPlayfair:"Playfair Display";
$fontsHammersmith:"Hammersmith One";


 // flex space

 %content{
  display: flex;
  justify-content: space-between;
  }

  %space{
    display: flex;
    justify-content: space-around;
  }

  %column{
    display: flex;
    flex-direction: column;
  }

  %row{
  display: flex;
  flex-direction: row;
  }


  // border
  $borderw:1px solid hsl(0, 0%, 100%);

  $borderg: 1px solid hsl(0, 0%, 50%);