// Colors
$primaryHue: var(--hue);

$black: hsl(0, 0%, 0%);
$midi: hsl(257, 10%, 27%);

$white: #ffffff;
$primary: hsl($primaryHue, 100%, 44%);

$gradient-color: calc(#{$primaryHue} + 70);
$gradient-from: hsla($gradient-color, 81%, 10%, 0.85);
$gradient-to: hsla($gradient-color, 53%, 24%, 0.85);

@mixin bg-with-overlay($image-path) {
  background-image: linear-gradient(to right, $gradient-from 0%, $gradient-to),
    url(#{$image-path});
  background-repeat: no-repeat;
  background-size: cover;
}

// fonts
$fontsRoboto: "Roboto";
$fontsPlayfair: "Playfair Display";
$fontsHammersmith: "Hammersmith One";

// flex space

%content {
  display: flex;
  justify-content: space-between;
}

%space {
  display: flex;
  justify-content: space-around;
}

%column {
  display: flex;
  flex-direction: column;
}

%row {
  display: flex;
  flex-direction: row;
}

%wrap-for-small-screen {
  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

%padding-mixin {
  padding: 5rem 0;
  margin: 0 auto;
}

// border
$borderw: 1px solid hsl(0, 0%, 100%);

$borderg: 1px solid hsl(0, 0%, 50%);


//padding 

@mixin padding-top-bottom-1 {
  padding-top: 4.3rem;
  padding-bottom: 2.5rem;
}

@mixin padding-top-bottom-2 {
  padding-left: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 1.3rem;
} 

@mixin padding-top-bottom-3 {
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}

@mixin padding-top-bottom-4 {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}